.flex-box {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 2%;
    margin-left: 2%;
    position: relative !important;
}

.card-display-1 {
    /* margin : 2%  !important; */
    /* border : 2px solid black !important; */
    display: flex;
}

.card-display-2 {
    margin: 2% !important;
}


/* .switches-1{
    align-self: flex-end;
    justify-self: flex-end;
} */

.outBox {
    /* overflow-y: auto; */
}

.box-flex {
    /* border: 2px solid black !important; */
    justify-content: space-between;
    width: 95% !important;
}

.input-1 {
    font-size: 1.25rem;
    border: none;
}