.flex-box{
    display: flex;
    flex-direction: column;
    margin: 1%;
}
.card-display-1{
    /* margin : 2%  !important; */
    /* border : 2px solid black !important; */
    height: 35vh !important;
    display: flex;
}

.card-display-2{
    margin : 2%  !important;
    border : 2px solid #D3D3D3 !important;
    height: auto !important;
}

/* .switches-1{
    align-self: flex-end;
    justify-self: flex-end;
} */

.outBox{
    overflow-y:auto;
}

.box-flex{
    /* border: 2px solid black !important; */
    justify-content: space-between;
    width: 95% !important;
    overflow-y:auto;
}

.input-1{
    color:#909090;
    font-size: 1em;
    border: none;
}